<h1>Welcome</h1>

<p> The world of Haven is full of dangerous creatures, sentient or otherwise, hostile enviroments, and down right bad folks.  Those bad folks won't hesitate to swoop into to a town promising a better tomorrow, only to force them into obedience through manipulation and fear. For months, or even years this can continue, until a unlikely hero arrives. <p>

  <p> R-0B, a peculair android wanders across the centeral waste drifting from one edge of civilization to the next.  Through thier history of odd Job R-0B has become known become know for taking on jobs outmatched, and out gunned. Yet the eccentric construct gets the job done everytime, and resumes thier journey</p>

 <p> Be it human, beast, or andriod, everyine has had a place they called home.<p>
<br>

   <h1 class"well" >DRAMATiC IMAGE HERE</h1>
<br>

<p> Once...</p>

<%= link_to "The journey continues on.", new_character_path() %>
