<div class="jumbotron">
  <h1>ITS A DOOOOR!</h1>
</div>
<hr>
<div class="well">
  <%= image_tag "#{@door.img}" %>
</div>
<hr>
<div class="well">
  <p> <%= @door.description %></p>
  <%= link_to "I better go find that #{@door.req_item}...", room_path(@door.room_id), remote: true%>
</div>
