<div class="jumbotron">
  <h1>ITS A DOOOOR!</h1>
</div>
<hr>
<div class="well">
  <%= image_tag "door.png" %>
</div>
<hr>
<div class="well">
  <p> <%= @door.description %></p>
  <%= link_to "I better go find that damn key", room_path(@door.room_id) %>
</div>
