<h1>Tears of Iron</h1>
<h6>the prototype</h6>
<p>The goal of this current prototype is to develop the method of navigation for Tears of Iron.</p>
<hr>
<%= render "/layouts/character_display" %>
<h1></h1>
<%= link_to "Navigation Prototype", room_path(@start) %>
<%= link_to "Item Prototype", room_path(@item_start) %>
<%= link_to "Character Item Interaction", room_path(@character_test)%>
<% if @character.is_new === true %>
  <%  Room.reset
      @doors.each do |door|
        door.shut_the
      end
    end
  %>
