<div class="game-controller" id="game_controller">
<%= render "/layouts/controls"%> <%= render "layouts/character_display" %>
</div>

<div class="well center black">
  <h1>Game world</h1>
  <div class="interaction" id="interaction_display">
  </div>
  <div class="room<%=@room.id %>" id="active_room" >
  <%= render "/layouts/map_display" %>
  </div>
</div>
