/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 .wrapper {
   width: 195px;
   height: 195px;
   display: grid;
   grid-template-columns: 64px 64px 64px;
   grid-gap: 10px;
   background-color: #fff;
   color: #444;
 }

 .tile {
   width: 64px;
   height: 64px;
   background-image: url("tile_1");
 }


 #world {
   position: absolute;
   margin-left: 350px;
   z-index: 0;
 }
#character_display.well {
  position: relative;
  width: 600px;
  left:120px;
}

#text-display {
  background: lighten(grey, 25%);
  height: 200px;
  width: 650px;
  position: relative;
  overflow: auto;
  left:420px;
}

 #d_pad {
    background: blue;
    height: 150px;
    width: 150px;


 }

 textarea {
   width: 300px;
   height: 200px;
 }


body {
  background: grey;
}

.north{
  margin-top: 5px;
  margin-left: 20px;
  position: absolute;

}
.west{
  margin-top: 20px;
  position: absolute;
}
.east{
  margin-top: 20px;
  position: absolute; left: 50px;
}

.south {
    margin-top: 50px;
    position: absolute;
    margin-left: 20px;

}

.east-door {
  position: relative;
  right:100px;
  z-index: 2


}

.center {
  text-align: center;
}
