/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *:
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "gamegrid";

 #keyboard:focus{
   outline: none;
   box-shadow: none;
}


 .room1 {
   display: grid;
   grid-template-columns: 64px 64px 64px 64px 64px 64px 64px 64px 64px;
   grid-gap: 0 0px;
   background-color: rgba(0, 0, 255, 0);
 }



 .room2 {
   display: grid;
   grid-template-columns: 64px 64px 64px 64px 64px 64px;
   grid-gap: 0 0px;
   background-color: rgba(0, 0, 255, 0);;
   color: #444;
 }
 .room3 {
   position:relative;;
   display: grid;
   grid-template-columns: 64px 64px 64px 64px 64px 64px 64px 64px;
   grid-gap: 0 0px;
   background-color: rgba(0, 0, 255, 0);;
   color: #444;
   z-index: 0;
 }
 .room4 {
   display: grid;
   grid-template-columns: 64px 64px 64px 64px;
   grid-gap: 0 0px;
   background-color: rgba(0, 0, 255, 0);;
   color: #444;
 }

 .room5 {
   display: grid;
   grid-template-columns: 64px 64px 64px 64px 64px 64px 64px 64px 64px 64px 64px 64px 64px 64px 64px 64px 64px 64px 64px 64px;
   grid-gap: 0 0px;
   background-color: rgba(0, 0, 255, 0);;
   color: #444;
 }

 .room6 {
   position:relative;
   display: grid;
   grid-template-columns: 64px 64px 64px 64px 64px 64px 64px 64px 64px;
   grid-gap: 0 0px;
   background-color: rgba(0, 0, 255, 0);;
   color: #444;
   z-index: 0;
 }

 .blank {
   width: 64px;
   height: 64px;
 }

 .facility_wall {
   width: 64px;
   height: 64px;
   background-image: url("facility_wall");
 }
 .tmp_corner {
   width: 64px;
   height: 64px;
   background-image: url("tmp_corner");
 }
 .facility_wall_single {
   width: 64px;
   height: 64px;
   background-image: url("facility_wall_single");
 }
 .building_roof_topl {
   width: 64px;
   height: 64px;
   background-image: url("building_roof_topl");
 }
 .building_roof_topc {
   width: 64px;
   height: 64px;
   background-image: url("building_roof_topc");
 }
 .building_roof_topr {
   width: 64px;
   height: 64px;
   background-image: url("building_roof_topr");
 }
 .building_roof_botl {
   width: 64px;
   height: 64px;
   background-image: url("building_roof_botl");
 }
 .building_roof_botc {
   width: 64px;
   height: 64px;
   background-image: url("building_roof_botc");
 }
 .building_roof_botr {
   width: 64px;
   height: 64px;
   background-image: url("building_roof_botr");
 }
 .facility_ground1 {
   width: 64px;
   height: 64px;
   background-image: url("facility_ground1");
 }
 .facility_ground2 {
   width: 64px;
   height: 64px;
   background-image: url("facility_ground2");
 }
 .facility_ground3 {
   width: 64px;
   height: 64px;
   background-image: url("facility_ground3");
 }
 .facility_ground4 {
   width: 64px;
   height: 64px;
   background-image: url("facility_ground4");
 }
 .facility_doorl_single {
   width: 64px;
   height: 64px;
   background-image: url("facility_doorl_single");
 }
 .facility_doorr_single {
   width: 64px;
   height: 64px;
   background-image: url("facility_doorr_single");
 }
 .facility_wall_top {
   width: 64px;
   height: 64px;
   background-image: url("facility_wall_top");
 }

 .facility_wall_gap {
   width: 64px;
   height: 64px;
   background-image: url("facility_wall_top");
 }
 .cargo1_topl {
   width: 64px;
   height: 64px;
   background-image: url("cargo1_topl");
 }

 .cargo_topc {
   width: 64px;
   height: 64px;
   background-image: url("cargo_topc");
 }

 .cargo1_topr {
   width: 64px;
   height: 64px;
   background-image: url("cargo1_topr");
 }

 .cargo_roof_topl {
   width: 64px;
   height: 64px;
   background-image: url("cargo_roof_topl");
 }
 .cargo_roof_topc {
   width: 64px;
   height: 64px;
   background-image: url("cargo_roof_topc");
 }
 .cargo_roof_topr {
   width: 64px;
   height: 64px;
   background-image: url("cargo_roof_topr");
 }
 .cargo1_botl {
   width: 64px;
   height: 64px;
   background-image: url("cargo1_botl");
 }
 .cargo1_botc {
   width: 64px;
   height: 64px;
   background-image: url("cargo1_botc");
 }
 .cargo1_botr {
   width: 64px;
   height: 64px;
   background-image: url("cargo1_botr");
 }


 #world {
   position: absolute;
   margin-left: 350px;
   z-index: 0;
 }
#character_display.well {
  position: relative;
  width: 600px;
  left:120px;
}

#text-display {
  background: lighten(grey, 25%);
  height: 200px;
  width: 650px;
  position: relative;
  overflow: auto;
  left:420px;
}

 #d_pad {
    background: blue;
    height: 150px;
    width: 150px;
 }

 textarea {
   width: 300px;
   height: 200px;
 }


body {
  background: grey;
}

.north{
  margin-top: 5px;
  margin-left: 20px;
  position: absolute;

}
.west{
  margin-top: 20px;
  position: absolute;
}
.east{
  margin-top: 20px;
  position: absolute; left: 50px;
}

.south {
    margin-top: 50px;
    position: absolute;
    margin-left: 20px;

}

.east-door {
  position: relative;
  right:100px;
  z-index: 2


}

.center {
  text-align: center;
}

.black {
  background-color: black;
}

.btn-invis, .btn-invis:focus {
  outline: none;
  box-shadow: none;
  border: 0px;
  padding: 0px;
  background: rgba(0,0,0,0);
}
