<div  id="character_display" class="well">
  <div class="row">
    <div class="col-md-5">
      <h2> <%= @character.name  %> </h2>
      <h2>Hit Points <%= @character.hit_points  %> </h2>
      <h2>Battery Points <%= @character.battery_level  %> </h2>
    </div>
    <div class="col-md-6">
      <h1>Inventory</h1>
        <% if @character.items.any? %>
          <% @character.items.each do |item| %>
            <% if item.title === nil %>
              <% else %>
            <%= image_tag "#{item.title}.png" %>
              <% end %>
            <% end %>
          <% else %>
        <% end %>
  </div>
</div>
</div>
