<div class="well">
  <div class="row">
    <div class="col-md-3">
      <h2> <%= @character.name  %> </h2>
      <h2> <%= @character.hit_points  %> </h2>
      <h2> <%= @character.battery_level  %> </h2>
      <h2> <%= @character.is_alive  %>
    </div>
    <div class="col-md-3">
      <h1>Inventory</h1>
  </div>
</div>
</div>
