<div id="text-display" class="well">
  <% if @room.first_time === true %>
  <p> <%= @room.first_description %> </p>
    <% @room.been_there? %>
    <% else %>
  <p> <%= @room.normal_description %></p>
  <% end %>


  <% if current_page?("/search/#{params[:id]}") %>
  
  <h1>You Searched the room!</h1>
  <% end %>


</div>
