<% if @tiles.any? %>
  <% @tiles.each do |tile| %>
    <div class="<%=tile.tile_name %>", id="tile<%= tile.id %>">
      <% if @character.tile_id === tile.id %>
      <%= image_tag "robo64", class: "robo" %>
      <% end %>
    </div>
      <% end %>
    <% else %>
    <h1>BOOM CRANE</h1>
  <% end %>
