<% if @tiles.any? %>
<div class="wrapper">
  <% @tiles.each do |tile| %>
    <div class="tile">
      <% if @character.tile_id === tile.id %>
      <%= image_tag "robo64", class: "robo" %>
      <% end %>
    </div>
      <% end %>
    <% else %>
    <h1>BOOM CRANE</h1>
  <% end %>
</div>
